#background {
    /* background-image: url("back.jpg"); */
    height:100%;
    /* opacity:.5; */
    background-image: url("images/back3.jpg");



  }

h1 {
  /* background-color: #76D950; */
  text-align: center;
}

.box {
  background-color: #f49fbb;
  padding-right: 15px;
  padding-left: 11px;
  padding-bottom: 145px;
}
/* .col s4{
  grid-gap: 10px;
} */


.outline {
  border: thin solid black;
  background-color: #bbbcb7;
  /* background-image: url('images/dexb.png'); */
  /* background-image: url('images/dexb2.png'); */
  height: 150%;
}

 .row {
   height: 200px;
 }


/* .col-sm {

} */



 .poke-grid {
     display: grid;
     grid-template-rows: 250px;
     grid-template-columns: auto auto auto;
     grid-gap: 15px;
     padding-left: 5px;

 }

 .pic-size {
 height: 90px;
 width: 90px;
 margin-left: 56px;
}

 .bc {
   font-weight: bold;
   text-align: Center;
 }
