/* html {
  background-image: url("back.jpg");
  height:100%;
} */

h1 {
  background-color: #76D950;
  text-align: center;
}


.col s4{
  grid-gap: 10px;
}


.outline {
  border: thin solid black;
  background-color:  gray;
}
 .row {
   height: 200px;
 } */
